<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated == False %}
                <a href="{% url 'signup' %}">
                    Sign up
                </a>
                <li>
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'receipt_create' %}">
                        Create Receipt
                    </a>
                </li>
                {% comment %} {% if user.is_authenticated == False %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    Accounts
                </li>
                {% endif %} {% endcomment %}

                <li>
                    <a href="{% url 'account_list' %}">
                        Accounts
                    </a>
                </li>

                <li>
                    <a href="{% url 'account_create' %}">
                        Create Account
                    </a>
                </li>

                <li>
                    <a href="{% url 'category_list' %}">
                        Categories
                    </a>
                </li>
                <li>
                <a href="{% url 'category_create' %}">
                    Create Category
                </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>