{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th> Number</th>
                <th># of Receipts</th>

            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>
                    {{ account }}
                </td>
                <td>
                    {{ account.number }}
                </td>
                <td>
                    {{ account.receipts.all|length }}
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</main>
{% endblock content %}