{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Categories</th>
                <th># of Receipts</th>

            </tr>
        </thead>
        <tbody>
            {% for category in categorylist %}
            <tr>
                <td>
                    {{ category }}
                </td>
                <td>
                    {{ category.receipts.all|length }}
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</main>
{% endblock content %}