{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Home</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receiptlist %}
            <tr>
                <td>
                    {{ receipt.vendor }}
                </td>
                <td>
                    {{ receipt.total }}
                </td>
                <td>
                    {{ receipt.tax }}
                </td>
                <td>
                    {{ receipt.date }}
                </td>
                <td>
                    {{ receipt.category }}
                </td>
                <td>
                    {% if receipt.account == None %}
                    Cash 
                    {% else %}
                    {{ receipt.account}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</main>
{% endblock content %}